{% extends 'shortener/base.html' %}

{% block content %} 
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Original url</th>
            <th>Slug</th>
            <th>Shortened url</th>
        </tr>
        {% for instance in list %}
            <tr>
                <td>{{ instance.id }}</td>
                <td>
                    <a href="{{ instance.original_url }}">
                        {{ instance.original_url }}
                    </a>
                </td>
                <td>{{ instance.slug }}</td>
                <td>
                    <a href="http://{{ request.get_host }}/{{ instance.slug }}">
                        http://{{ request.get_host }}/{{ instance.slug }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div><a href="{% url 'shorten-url' %}">Shorten</a></div>
{% endblock %}
